<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Resume - Start Bootstrap Theme</title>
        <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="stylesheets/style.css" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">
                <span class="d-block d-lg-none">Harshil Soni</span>
                <span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="images/Portfolio-image.jpeg" alt="..." /></span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="https://www.linkedin.com/in/harshilsoni29/" target="_blank">LinkedIn</a></li>
                    <p></p>
                    <li class="nav-item"><a class="nav-link" href="https://github.com/Harshil129" target="_blank">GitHub</a></li>
                    <p></p>
                    <li class="nav-item"><a class="nav-link" href="files/Harshil-Resume.pdf" target="_blank">My Resume</a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                </ul>
            </div>
        </nav>

            <section class="resume-section" id="Projects">
                <div class="resume-section-content">
                    <h2 class="mb-5">Projects</h2>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1" style="margin-left: -25px;">
                            <a></a>
                            <h3 class="mb-0">TravelO Website</h3>
                            
                            <p><b>AIM</b> - A cross-platform hybrid website in which users can find different places/cities according to the provinces. The user itself can also add his/her own experience with CRUD functionality and can search for cities across different places. This web site also allows users to create a To-Do list for their trip.</p> 
                            <P><b>TECHNOLOGIES</b> - C# in the backend with ASP.Net, Bootstrap for front-end technologies. MSSQL for creating Database to store user data.</p>
                            <a class="social-icon" href="https://github.com/Harshil129/TravelO" target="_blank"><i class="fab fa-github" style="font-size:48px;"></i></a>
                        </div>
                    </div>
                
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5 d2-flex">
                        <div class="flex-grow-1" style="margin-left: 15px;">
                            <h3 class="mb-0">Portfolio</h3>
                            
                            <p><b>AIM</b> - A fully functional portfolio which including global header and footer, home page for introduction, an about me page for experiences, education and technical skills. A separate page for projects and achievements, and a contact form for any collaborations/queries.</p> 
                            <P><b>TECHNOLOGIES</b> - JavaScript Frameworks, npm packages, generated through Express-generator, Node.js for connecting and functionality between pages and links. Angular and Express framework for user-friendly UI.</p>
                            <a class="social-icon" href="https://github.com/Harshil129/Harshil-Portfolio" target="_blank"><i class="fab fa-github" style="font-size:48px;"></i></a>
                        </div>
                    </div>            
                   
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5 d2-flex">
                        <div class="flex-grow-1" style="margin-left: 15px;">
                            <h3 class="mb-0">Olympic Leaderboard</h3>
                            
                            <p><b>AIM</b> - This JavaFX application will show the leaderboard/Olympic medals won by different countries in the Olympic event. It has a secondary view for comparison of the medals won by a country with other participating countries. All this data will be dynamically taken from the database using APIs.</p> 
                            <P><b>TECHNOLOGIES</b> - Core Java in the backend with JavaFX, ScreenBuilder in front-end to create user-friendly UI. Used HTML5 and CSS3 along with Bootstrap to add style to the Web Application.</p>
                            <a class="social-icon" href="https://github.com/Harshil129/OlympicMedals" target="_blank"><i class="fab fa-github" style="font-size:48px;"></i></a>
                        </div>
                    </div>

                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5 d2-flex">
                        <div class="flex-grow-1" style="margin-left: 15px;">
                            <h3 class="mb-0">Pizza Mania</h3>
                            
                            <p><b>AIM</b> - A fully-functional Pizza ordering web application which helps the user to order their customized pizza, they can add their items to the cart and order them. With the help of CRUD functionality the user can edit and delete their order and also view them after the editing.</p> 
                            <P><b>TECHNOLOGIES</b> - PHP for the client and server side scripting. Used PHP tags embedded in HTML for Web Development. HTML and CSS in the web page styling with Bootstrap functionality.</p>
                            <a class="social-icon" href="https://github.com/Harshil129/OlympicMedals" target="_blank"><i class="fab fa-github" style="font-size:48px;"></i></a>
                        </div>
                    </div>    
                </div>
            </section> 
    
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
